name: Build and Deploy Docker Image

on:
  push:
    tags:
      - "*.*.*" # stable semantic versions
      - "*.*.*-*" # pre-release versions (beta, rc, etc.)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          if [[ "$VERSION" != *-* ]]; then
            LATEST_TAG="true"
          else
            LATEST_TAG="false"
          fi
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --network=host \
            -t tskiba/requira:$VERSION \
            $( [ "$LATEST_TAG" = "true" ] && echo "-t tskiba/requira:latest" ) \
            --cache-from=type=registry,ref=tskiba/requira:cache \
            --cache-to=type=registry,ref=tskiba/requira:cache,mode=max \
            --push \
            .
